@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/modernizr")
        @*<script src="~/Scripts/require.js"></script>*@
        @*<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>*@
        <link rel="stylesheet" href="/Content/bootstrap.min.css">
        <link rel="stylesheet" href="/Content/bootstrap-theme.css">
        <script src="/Scripts/bootstrap.min.js"></script>

    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("Membership Starter", "Index", "Home")</p>
                    <div>So you can focus on your code</div>
                </div>
                <div class="float-right">
                    <div id="login">
                        @Html.Partial("_LogOnPartial")

                    </div>
                    <div style="clear: right"></div>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            @*<li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Secure page", "SecurePage", "Home")</li>*@
                            <li>@Html.ActionLink("My Dashboard", "Index", "MyDashboard")</li>
                        </ul>
                    </nav>
                </div>
                
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year</p>
                </div>
            </div>
        </footer>

        @*@Scripts.Render("~/bundles/jquery")*@
        <!--
        @RenderSection("scripts", required: false)
            -->
    </body>
</html>
